.piano {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Add this line to prevent wrapping */
    width: 100%; /* Or set a specific width */
  }
  
  
  .piano button {
    width: 23px;
    height: 120px;
    border-color: #000;
    
  }
  
  .active {
    z-index: 2;
    border-color: #32f102;
    background-color: aqua
  }
  
  /* .piano button[data-note$="#"] {
    
  } */
  
  

  button.black {
    background-color: #000;

    position: relative;
    margin-left: -7.5px;
    margin-right: -7.5px;
    bottom: 30px;
    z-index: 1;
    
  }
  button.white {
    background-color: #ebe9e9;

    position: relative;
    margin-left: -7.5px;
    margin-right: -7.5px;
    z-index: 1;
  }
  button.black.active, button.white.active {
    background-color: #32f102; /* Change this to the color you want */
  }
  
  
  